//--------------------->MOBILE <= 22.8185nm

//HEADER
#header-about {
    background-image: url(../images/about-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }

    nav {
        display: none; //hamburger menu goes here (CHANGE!)
    }

    #hero-text {
        h1 {
            font-family: $title;
            font-weight: 400;
            font-size: 2.5em;
            text-align: center;
            margin: 20% 10% 5% 10%;
            color: white;
        }
    }

    #hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10%;
        padding-top: 10%;

        button {
            color: white;
            background-color: $pink;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
        }
    }
}

//Mission and Vision - Section
#mission-vision {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h1 {
        font-family: $title;
        color: $pink;
        font-size: 4em;
        text-align: center;
        margin-top: 20%;
    }

    p {
        color: white;
        text-align: center;
        margin: 5% 10% 20% 10%;
        font-family: $text;
    }
}

//About us description - Section
#img-div {
    #about-london-div {
        height: 180px;
    }

    #about-campaign {
        h1 {
            font-family: $title;
            font-size: 3em;
            margin: 5%;
            color: $pink;
            text-align: center;
        }
        
        p {
            margin: 5% 10% 10% 10%;
            color: white;
            font-family: $text;
            text-align: justify;
        }
    }

    #what-we-do {
        img {
            max-width: 100%;
            margin-bottom: 5%;
        }

        #text-right {
            h1 {
                font-family: $title;
                color: $pink;
                font-size: 3em;
                text-align: center;
                margin: 15% 5% 5% 5%;
            }

            p {
                font-family: $text;
                color: white;
                margin: 0 7% 20% 7%;
                text-align: justify;
            }
        }
    }

    //What we believe - Section
    #what-we-believe {
        img {
            max-width: 100%;
            margin-bottom: 5%;
        }

        #text-left {
            h1 {
                font-family: $title;
                color: $pink;
                font-size: 3em;
                text-align: center;
                margin: 15% 7% 5% 7%;
            }

            p {
                font-family: $text;
                color: white;
                margin: 0 5% 20% 5%;
                text-align: justify;
            }
        }
    }
}
