//--------------------->MOBILE <= 22.8185nm

//HEADER
#header-about {
    background-image: url(../images/about-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }

    #hero-text {
        h1 {
            font-family: $title;
            font-weight: 400;
            font-size: 2.5em;
            text-align: center;
            margin: 15% 10% 5% 10%;
            color: white;
        }
    }

    #hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // padding-bottom: 10%;
        // padding-top: 10%;

        button {
            color: white;
            background-color: $pink;
            padding: 1% 4%;
            margin: 0 5% 10% 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

//Mission and Vision - Section
.mission-vision {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h1 {
        font-family: $title;
        color: $pink;
        font-size: 4em;
        text-align: center;
        margin-top: 20%;
    }

    p {
        color: white;
        text-align: justify;
        margin: 5% 10% 20% 12%;
        font-family: $text;
    }

    #mission {
        width: 50%;
    }

    #vision {
        width: 50%;
    }
}

#collapsible-arrow {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}

.down {
    transform: rotate(180deg);
}

.up {
    transform: rotate(0);
}

//About us description - Section
#img-div {
    #about-london-div {
        max-width: 100%;
    }

    #about-campaign {
        h1 {
            font-family: $title;
            font-size: 3em;
            margin: 5%;
            color: $pink;
            text-align: center;
        }
        
        p {
            margin: 5% 10% 10% 10%;
            color: white;
            font-family: $text;
            text-align: justify;
        }
    }

    #what-we-do {
        img {
            max-width: 100%;
            margin-bottom: 5%;
        }

        #text-right {
            h1 {
                font-family: $title;
                color: $pink;
                font-size: 3em;
                text-align: center;
                margin: 15% 5% 5% 5%;
                -webkit-text-fill-color: transparent; 
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $pink;
            }

            p {
                font-family: $text;
                color: white;
                margin: 0 7% 20% 7%;
                text-align: justify;
            }
        }
    }

    //What we believe - Section
    #what-we-believe {
        img {
            max-width: 100%;
            margin-bottom: 5%;
        }

        #text-left {
            h1 {
                font-family: $title;
                color: $pink;
                font-size: 3em;
                text-align: center;
                margin: 15% 7% 5% 7%;
                -webkit-text-fill-color: transparent; 
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $pink;
            }

            p {
                font-family: $text;
                color: white;
                margin: 0 5% 20% 5%;
                text-align: justify;
            }
        }
    }
}

//----------------> QUERIES
//media query 667px ---MOBILE LANDSCAPE---
@media screen and (min-width: 41.6875em) {
    #header-about {

        #logo-header {

            img {
                max-width: 15%;
            }
        }
    }
}

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #header-about {

        #logo-header {

            img {
                max-width: 15%;
            }
        }

        #hero-text{

            h1 {

                font-size: 3.5em;
            }
        } 

        #hero-buttons {

            button {
                font-size: 1.2em;
            }
        }
    }

    .mission-vision {

        p {
            margin-left: 20%;
            margin-right: 20%;
        }


    }

    #img-div {

        #about-campaign {

            p {
                margin-left: 20%;
                margin-right: 20%;
            }

            h1 {
                margin-top: 10%;
            }
        }

        #what-we-do {
            display: flex;
            flex-direction: row;

            img {
                width: 50%;
            }
    
            #text-right {
                h1 {
                    margin-top: 5%;
                }

                p {
                    margin-left: 15%;
                    margin-right: 15%;
                }
            }
        }

        #what-we-believe {
            display: flex;
            flex-direction: row;

            img {
                width: 50%;
            }
    
            #text-left {
                order: -1;

                h1 {
                    margin-top: 5%;
                }

                p {
                    margin-left: 15%;
                    margin-right: 15%;
                }
            }
        }
    }

}

//media query 1024 ---DESKTOP SMALL---
@media screen and (min-width: 64em) {
    #header-about {
        #logo-header {
            img {
                max-width: 10%;
            }
        }
        #hero-buttons {
            padding-top: 0%;

            button {
                padding: 0.5% 3%;
            }
        }
    }

}

//media query 1500px ---DESKTOP XLARGE---
@media screen and (min-width: 93.75em) {
    #header-about {
        #logo-header {
            img {
                width: 8%;
            }
        }
    }

    .mission-vision {
        h1 {
            font-size: 6em;
        }

        p {
            font-size: 1.2em;
        }
    }

    #img-div {
        #about-campaign {
            h1 {
                font-size: 5em;
            }

            p {
                font-size: 1.3em;
            }
        }

        #what-we-do {
            #text-right {
                h1 {
                    margin-top: 28%;
                    font-size: 5em;
                }
            }
        }

        #what-we-believe {
            #text-left {
                h1 {
                    margin-top: 28%;
                    font-size: 5em;
                }
            }
        }
    }
}

//media query 1600px ---DESKTOP XLARGE---
@media screen and (min-width: 100em) {
    #header-about {
        #hero-text {
            h1 {
                font-size: 4.5em;
            }
        }
    }

    .mission-vision {
        h1 {
            font-size: 6em;
        }
    }

    #img-div {
        #about-campaign {
            p {
                margin-left: 30%;
                margin-right: 30%;
            }

            h1 {
                font-size: 4em;
            }
        }

        #what-we-do {
            img {
                width: 125%;
            }

            #text-right {
                h1 {
                    margin-top: 40%;
                    font-size: 5em;
                }
            }
        }

        #what-we-believe {
            img {
                width: 125%;
            }

            #text-left {
                h1 {
                    margin-top: 40%;
                    font-size: 5em;
                }
            }
        }
    }
}