//--------------------->MOBILE <= 22.8185nm
//HEADER
#header-contact {
    background-image: url(../images/contact-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }
}

//Contact form + Etra info
#contact-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    #contact-form {
        background-color: $light-grey;
        margin-top: 20%;

        h1 {
            font-family: $title;
            font-size: 4em;
            color: white;
            text-align: left;
            margin: 5%;
        }

        p {
            font-family: $text;
            color: white;
            margin: 5%;
            font-size: 1em;
            letter-spacing: 1px;
        }
    }

    #extra-info {
        background-color: $dark_grey;
        border: $green solid thick;
    }

    //actual contact form 
    #contact-form-child {

        label {
            font-family: $text;
            color: white;
            font-size: 1em;
            display: block;
            margin-left: 5%;
            letter-spacing: 1px;
        }

        input, textarea {
            background-color: transparent;
            border: transparent;
            border-bottom: solid $green !important;
            height: 16px;
            margin-left: 5%;
            margin: 2% 0 5% 5%;
            width: 80%;
        }

        textarea {
            height: 30%;
        }

        #submit {
            color: $dark-grey;
            background-color: $green;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
        }
    }

    #extra-info {
        img {
            width: 10%;
        }

        #main-description {
            font-family: $text;
            color: white;
            text-align: center;
            margin: 10%;
            padding-top: 10%;
        }

        #features-list {
            display: block;
            margin-bottom: 10%;
            margin-left: 4%;
        }

        #feature {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 3%;
            margin-left: 7%;

            p {
                color: white;
                font-family: $text;
                font-size: 1em;
                margin-left: 5%;
                width: 70%;
            }
        }
    }
}

//----------------> QUERIES

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #header-contact {
        height: 600px;

        #logo-header {

            img {
                max-width: 15%;
            }
        }

        #hero-text{

            h1 {

                font-size: 3.5em;
            }
        } 

        #hero-buttons {

            button {
                font-size: 1.2em;
            }
        }
    }

    #contact-parent {
        display: flex;
        flex-direction: row;

        #extra-info {
            width: 50%;
        }

        #contact-form {
            width: 50%;
        }
    }
}