//--------------------->MOBILE <= 22.8185nm
//HEADER
#header-contact {
    background-image: url(../images/contact-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }
}

//Contact form + Etra info
#contact-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    #contact-form {
        background-color: $light-grey;
        // margin-top: 20%;

        h1 {
            font-family: $title;
            font-size: 4em;
            color: white;
            text-align: left;
            margin: 5%;
        }

        p {
            font-family: $text;
            color: $dark-grey;
            margin: 5%;
            font-size: 0.8em;
            letter-spacing: 1px;
        }
    }

    #extra-info {
        background-color: $dark_grey;
        border: $green solid thick;
    }

    //actual contact form 
    #contact-form-child {

        label {
            font-family: $text;
            color: white;
            font-size: 1em;
            display: block;
            margin-left: 5%;
            letter-spacing: 1px;
        }

        input, textarea {
            background-color: transparent;
            border: transparent;
            border-bottom: solid $green !important;
            height: 16px;
            margin-left: 5%;
            margin: 2% 0 5% 5%;
            width: 80%;
            color: white;
            font-size: 1em;
            font-family: $text;
            letter-spacing: 2px;
            font-weight: bold;
        }

        textarea {
            height: 30%;
        }

        #submit {
            color: $dark-grey;
            background-color: $green;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
        }
    }

    #extra-info {
        img {
            width: 10%;
        }

        #main-description {
            font-family: $text;
            color: white;
            text-align: center;
            margin: 10%;
            padding-top: 10%;
        }

        #features-list {
            display: block;
            margin-bottom: 10%;
            margin-left: 4%;
        }

        #feature {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 3%;
            margin-left: 7%;

            p {
                color: white;
                font-family: $text;
                font-size: 1em;
                margin-left: 5%;
                width: 70%;
            }
        }
    }
}

//----------------> QUERIES
//media query 667px ---MOBILE LANDSCAPE---
@media screen and (min-width: 41.6875em) {
    #header-contact {

        #logo-header {

            img {
                max-width: 15%;
            }
        }
    }

    footer {
        #logo-footer-contact {
            padding-top: 10%;
        }
    }
}

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #header-contact {
        height: 600px;

        #logo-header {

            img {
                max-width: 15%;
                margin-bottom: 50%;
            }
        }

        #hero-text{

            h1 {

                font-size: 3.5em;
            }
        } 

        #hero-buttons {

            button {
                font-size: 1.2em;
            }
        }
    }

    #contact-parent {
        display: flex;
        flex-direction: row;

        #extra-info {
            width: 50%;
        }

        #contact-form {
            width: 50%;
        }
    }
}

//media query 862px ---TABLET---
@media screen and (min-width: 53.875em) {
    #header-contact {
        #logo-header {
            img {
                margin-bottom: 35%;
            }
        }
    }
}

//media query 1024 ---DESKTOP SMALL---
@media screen and (min-width: 64em) {
    #header-contact {
        #logo-header {
            img {
                max-width: 10%;
            }
        }
        #hero-buttons {
            padding-top: 0%;

            button {
                padding: 0.5% 3%;
            }
        }
    }

    #contact-parent {
        // #extra-info {
            // height: 60%;
            // margin-top: 35%;
            
            #feature {
                p {
                    margin-bottom: 4.2%;
                }
            }

        #contact-form {
            height: 60%;
            // margin-top: 35%;
        }
    }

}

//media query 1200px ---DESKTOP MEDIUM---
@media screen and (min-width: 75em) {
    #contact-parent {
        // #contact-form {
        //     // margin-top: 30%;
        // }

        #extra-info {
            // margin-top: 30%;

            #features-list {
                margin-bottom: 6.7%;
            }
        }
    }

    #header-contact  {
        #logo-header {
            img {
                margin-bottom: 25%;
            }
        }
    }
}

//media query 1400px ---DESKTOP LARGE---
@media screen and (min-width: 87.5em) {
    #header-contact {
        height: 800px;
    }

    #contact-parent {
        #extra-info {
            #features-list {
                margin-bottom: 13.5%;
            }
        }
    }
}

//media query 1500px ---DESKTOP XLARGE---
@media screen and (min-width: 93.75em) {
    #header-contact {
        #logo-header {
            img {
                width: 8%;
            }
        }
    }

    #contact-parent {
        #contact-form {
            h1 {
                font-size: 5em;
            }

            p {
                font-size: 1.2em;
                font-weight: bold;

            }
        }

        #contact-form-child {
            label {
                font-size: 1.5em;
            }

            input, textarea {
                font-size: 1.5em;
            }

            #submit {
                padding: 1% 6%;
                font-size: 1.2em;
            }
        }

        #extra-info {
            #main-description {
                font-size: 1.5em;
            }

            #feature {
                p {
                    font-size: 1.5em;
                    margin-bottom: 0;
                }
            }
        }
    }
}

//media query 1600px ---DESKTOP XLARGE---
@media screen and (min-width: 100em) {
    #contact-parent {
        #contact-form {
            h1 {
                font-size: 5em;
            }
        }
        #contact-form-child {
            #submit {
                margin-bottom: 11.7%;
                padding: 0.5% 4%;
            }

            label {
                font-size: 1.3em;
            }
        }

        #extra-info {
            #feature {
                p {
                    font-size: 1.2em;
                    margin-left: 5%;
                    margin-top: 4%;
                    width: 62%;
                }
            }

            #main-description {
                padding-top: 0;
            }

            #features-list {
                margin-bottom: 3.3%;
            }
        }
    }
}

//media query 2000px ---DESKTOP XXLARGE---
@media screen and (min-width: 125em) {
    #header-contact {
        #logo-header {
            img {
                margin-bottom: 20%;
            }
        }
    }
}

//media query 2385px ---DESKTOP XXLARGE---
@media screen and (min-width: 149.0625em) {
    #header-contact {
        #logo-header {
            img {
                margin-bottom: 15%;
            }
        }
    }
}