//FOOTER
footer {
    background-color: $dark-grey;
    
    #logo-footer {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20%;
        margin-bottom: 15%;
    }

    #logo-footer-contact {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        margin-bottom: 15%;
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 5% 15% 5%;

            li {

                a {
                    color: white;
                    cursor: pointer;
                    font-family: $title;
                    font-size: 1.2em;
                    text-decoration: none;
                }
            }
        }
    }
    //FIX THIS DESMADRE 
    #social-media-footer {
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: center;      
                
                a {
                    img {
                        width: 40%;
                        margin-bottom: 30%;
                        display: block;
                        margin-left: auto;
                    }
                }
        } 
        
    #copyrights {
        padding-bottom: 3%;

       h3 {
           text-align: center;
           font-family: $text;
           font-size: 0.6em;
           padding: 5px 0 0 0;
           color: $light-grey;
           letter-spacing: 2px;

           a {
               color: $light-grey;
           }
       }
    }
}

//----------------> QUERIES
//media query 667px ---MOBILE LANDSCAPE---
@media screen and (min-width: 41.6875em) {
    footer {
        nav {
            ul {
                li {
                    a {
                        font-size: 2em;
                    }
                }
            }
        }

        #social-media-footer {
            a {
                img {
                    width: 30%;
                }
            }
        }
    }
 }

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    footer {

        #logo-footer {
            margin-bottom: 10%;
        }

        #logo-footer-contact {
            margin-bottom: 3%;
            // margin-top: 20%;
        }

        nav {

            ul {
                margin-bottom: 10%;

                li {
                    font-size: 1.8em;

                    a {
                        font-size: 1em;
                    }
                }
            }
        }

        #social-media-footer {

            a {

                img {

                    width: 30%;
                }
            }
        }

        #copyrights {
            
            h3 {
                font-size: 1em;
            }
        }
    }

}

//media query 1024 ---DESKTOP SMALL---
@media screen and (min-width: 64em) {
    footer {
        #logo-footer {
            width: 15%;
            margin-top: -5%;

        }

        #logo-footer-contact {
            width: 15%;
            margin-top: 0;

        }
        nav {
            ul {
                li {
                    a {
                        font-size: 1em;
                    }
                }
            }
        }

        #copyrights {
            h3 {
                font-size: 0.8em;
            }
        }
    }

 }

 //media query 1200px ---DESKTOP MEDIUM---
@media screen and (min-width: 75em) {
    footer {
        #logo-footer {
            width: 10%;
            margin-bottom: 10%;
        }

        #logo-footer-contact {
            width: 10%;
            margin-bottom: 10%;
        }
    }
}

//media query 1400px ---DESKTOP LARGE---
@media screen and (min-width: 87.5em) {
    footer {
        #logo-footer {
            margin-top: 10%;
            padding-top: 5%;
        }
    }
}

//media query 1500px ---DESKTOP XLARGE---
@media screen and (min-width: 93.75em) {
    footer {
        #logo-footer {
            margin-top: 0;
        }

        nav {
            ul {
                li {
                    a {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

//media query 1600px ---DESKTOP XLARGE---
@media screen and (min-width: 100em) {
    footer {
        #social-media-footer {
            a {
                img {
                    margin-bottom: 50%;
                }
            }
        }

        nav {
            ul {
                margin: 0 10% 10% 10%;

                li {
                    font-size: 2em;
                }
            }
        }
    }
}


