//--------------------->MOBILE <= 22.8185nm

//HEADER
#header-index {
    background-image: url(../images/index-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }

    #hero-text {
        h1 {
            font-family: $title;
            font-weight: 400;
            font-size: 2.5em;
            text-align: center;
            margin: 20% 10% 5% 10%;
            color: white;
        }
    }

    #hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10%;
        padding-top: 10%;

        button {
            background-color: $green;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            
            a{
                text-decoration: none;
                color: $dark-grey;
            }
        }
    }
}

//Section: Real Stories 

#real-stories-home {
    img {
        max-width: 100%;
    }
    
    #section-container-1 {
        h1 {
            font-family: $title;
            color: $green;
            font-size: 3em;
            text-align: center;
            margin: 5% 0 5% 0;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $green;
        }

        p {
            font-family: $text;
            color: white;
            margin: 0 7% 0 7%;
            text-align: justify;
        }

        button {
            color: $dark-grey;
            background-color: $green;
            padding: 1% 4%;
            margin: 5% 5% 10% 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            a{
                text-decoration: none;
                color: $dark-grey;
            }
        }
    }
}


//Section: Take Part
#take-part-home {
    img {
        max-width: 100%;
    }
    
    #section-container-2 {
        h1 {
            font-family: $title;
            color: $green;
            font-size: 3em;
            text-align: center;
            margin: 5% 0 5% 0;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $green;
        }

        p {
            font-family: $text;
            color: white;
            margin: 0 7% 0 7%;
            text-align: justify;
        }

        button {
            color: $dark-grey;
            background-color: $green;
            padding: 1% 4%;
            margin: 5% 5% 0% 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            a{
                text-decoration: none;
                color: $dark-grey;
            }
        }
    }
}

//----------------> QUERIES
//media query 667px ---MOBILE LANDSCAPE---
@media screen and (min-width: 41.6875em) {
    #header-index {

        #logo-header {

            img {
                max-width: 15%;
            }
        }
    }
}

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #header-index {

        #logo-header {

            img {
                max-width: 15%;
            }
        }

        #hero-text{

            h1 {

                font-size: 3.5em;
            }
        } 

        #hero-buttons {

            button {
                font-size: 1.2em;
            }
        }
    }

    #real-stories-home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #section-container-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin-left: 15%;
                margin-right: 15%;
            }
        }

        img {
            width: 60%;
        }
    }

    #take-part-home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #section-container-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #section-container-2 {
            order: -1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                margin-top: 45%;
            }

            p {
                margin-left: 15%;
                margin-right: 15%;
            }
        }

        img {
            width: 60%;
        }
    }
}


//media query 1024 ---DESKTOP SMALL---
@media screen and (min-width: 64em) {
    #header-index {
        #logo-header {
            img {
                max-width: 10%;
            }
        }
        #hero-buttons {
            padding-top: 0%;

            button {
                padding: 0.5% 3%;
            }
        }
    }

}


//media query 1600px ---DESKTOP XLARGE---
@media screen and (min-width: 100em) {
    #header-index {
        #hero-text {
            h1 {
                font-size: 4.5em;
            }
        }
        #logo-header {
            img {
                max-width: 8%;
            }
        }
    }

    #real-stories-home {
        img {
            width: 115%;
        }
        #section-container-1 {
            p {
                margin-left: 20%;
                margin-right: 20%;
            }
        }
    }

    #take-part-home {
        img {
            width: 115%;
        }
        #section-container-2 {
            p {
                margin-left: 20%;
                margin-right: 20%;
            }
        }
    }
}

