//--------------------->MOBILE <= 22.8185nm

main {
    background-color: $dark-grey;
}

//HEADER
header {
    background-image: url(../images/index-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }

    nav {
        display: none; //hamburger menu goes here (CHANGE!)
    }

    #hero-text {
        h1 {
            font-family: $title;
            font-weight: 400;
            font-size: 2.5em;
            text-align: center;
            margin: 20% 10% 5% 10%;
            color: white;
        }
    }

    #hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10%;
        padding-top: 10%;

        button {
            color: $dark-grey;
            background-color: $green;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
        }
    }
}

//Section: Real Stories 

#real-stories-home {
    img {
        max-width: 100%;
    }
    
    #section-container-1 {
        h1 {
            font-family: $title;
            color: $green;
            font-size: 3em;
            text-align: center;
            margin: 5% 0 5% 0;
        }

        p {
            font-family: $text;
            color: white;
            margin: 0 7% 0 7%;
            text-align: justify;
        }

        button {
            color: $dark-grey;
            background-color: $green;
            padding: 1% 4%;
            margin: 5% 5% 10% 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


//Section: Take Part
#take-part-home {
    img {
        max-width: 100%;
    }
    
    #section-container-2 {
        h1 {
            font-family: $title;
            color: $green;
            font-size: 3em;
            text-align: center;
            margin: 5% 0 5% 0;
        }

        p {
            font-family: $text;
            color: white;
            margin: 0 7% 0 7%;
            text-align: justify;
        }

        button {
            color: $dark-grey;
            background-color: $green;
            padding: 1% 4%;
            margin: 5% 5% 30% 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

//FOOTER
footer {
    #logo-footer {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 15%;
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 5% 15% 5%;

            li {
                color: white;
                cursor: pointer;
                font-family: $title;
                font-size: 1.2em;
            }
        }
    }
    //FIX THIS DESMADRE 
    #social-media-footer {
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: center;            
        } 
        
    #copyrights {
        padding-bottom: 3%;

       h3 {
           text-align: center;
           font-family: $text;
           font-size: 0.6em;
           padding: 5px 0 0 0;
           color: $light-grey;
           letter-spacing: 2px;

           a {
            //    text-decoration: none;
               color: $light-grey;
           }
       }
    }
}