//--------------------->MOBILE <= 22.8185nm

//HEADER
#header-info {
    background-image: url(../images/information-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }

    #hero-text {
        h1 {
            font-family: $title;
            font-weight: 400;
            font-size: 2.5em;
            text-align: center;
            margin: 20% 10% 5% 10%;
            color: white;
        }
    }

    #hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10%;
        padding-top: 10%;

        button {
            color: $dark-grey;
            background-color: $yellow;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            a{
                text-decoration: none;
                color: $dark-grey;
            }
        }
    }
}

//Info description
#info-description {
    h1 {
        font-family: $title;
        color: $yellow;
        font-size: 2em;
        text-align: center;
        margin: 5%;
    }

    p {
        font-family: $text;
        color: white;
        font-size: 1em;
        text-align: center;
        margin: 5% 10% 5% 10%;
    }
}

//Info video
#info-video {
    img {
        max-width: 100%;
        margin: 10% 0;
    }
}

//Info text
#info-text {

    #main-title-info {
        font-family: $title;
        color: $yellow;
        font-size: 3em;
        text-align: center;
        margin-bottom: 15%;
    }

    #flex-parent {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 70%;
            margin-bottom: 10%;
        }

        #flex-child {
            h2 {
                font-family: $title;
                font-size: 3em;
                color: $yellow;
                text-align: center;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $yellow;
            }

            p {
                font-family: $text;
                font-size: 1em;
                color: white;
                display: block;
                text-align: center;
                margin: 10%;
            }
        }

        #flex-child-middle {
            h2 {
                font-family: $title;
                font-size: 3em;
                color: $yellow;
                text-align: center;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $yellow;
            }

            p {
                font-family: $text;
                font-size: 1em;
                color: white;
                display: block;
                text-align: center;
                margin: 10%;
            }
        }
    }
}

//----------------> QUERIES

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #header-info {

        #logo-header {

            img {
                max-width: 15%;
            }
        }

        #hero-text{

            h1 {

                font-size: 3.5em;
            }
        } 

        #hero-buttons {

            button {
                font-size: 1.2em;
            }
        }
    }

    #info-description {

        h1 {
            font-size: 4em;
        }

        p {
            margin-left: 15%;
            margin-right: 15%;
            margin-bottom: 0;
        }
    }

    #info-text {

        #flex-parent {
            display: flex;
            flex-direction: row;
            justify-content: center;

            img {
                width: 40%;
            }
        }

        #flex-child {
            width: 40%;
            margin-right: auto;

            h2 {
                margin-top: 15%;
            }
        }

        #flex-child-middle {
            width: 40%;
            margin-left: auto;
            order: -1;

            h2 {
                margin-top: 15%;
            }
        }
    }
}

//media query 1024 ---DESKTOP SMALL---
@media screen and (min-width: 64em) {
    #header-info {
        #logo-header {
            img {
                max-width: 10%;
            }
        }
        #hero-buttons {
            padding-top: 0%;

            button {
                padding: 0.5% 3%;
            }
        }
    }

}

