//--------------------->MOBILE <= 22.8185nm

//HEADER
#header-story1 {
    background-image: url(../images/stories-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }

    #hero-text {
        h1 {
            font-family: $title;
            font-weight: 400;
            font-size: 3em;
            text-align: left;
            margin: 20% 10% 5% 10%;
            padding-bottom: 5%;
            color: white;
        }
    }

    #hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10%;
        padding-top: 10%;

        button {
            color: $dark-grey;
            background-color: $blue;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
        }
    }
}

//Story 1
#stories-video {
    img {
        max-width: 100%;
        margin: 5% 0;
    }
}

#stories-info {
    p {
        font-family: $text;
        margin: 5% 10%;
        color: white;
        text-align: justify;
        margin-bottom: 15%;
    }

    img {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10%;
    }
}

//More stories
#more-stories {
    display: block;

    #stories-parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $light-grey;
        margin-bottom: 10%;

        img {
            max-width: 80%;
            display: block;
            margin-right: auto;
            margin-left: auto;
            padding-top: 10%;
        }

        h2 {
            font-size: 1.8em;
            color: white;
            text-align: center;
            font-family: $title;
            margin-top: 5%;
        }

        button {
            color: $dark-grey;
            background-color: $blue;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            width: 28%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

//----------------> QUERIES
//media query 667px ---MOBILE LANDSCAPE---
@media screen and (min-width: 41.6875em) {
    #header-story1 {

        #logo-header {

            img {
                max-width: 15%;
            }
        }
    }
}

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #header-story1 {

        #logo-header {

            img {
                max-width: 15%;
            }
        }

        #hero-text{

            h1 {

                font-size: 3.5em;
            }
        } 

        #hero-buttons {

            button {
                font-size: 1.2em;
            }
        }
    }

    #more-stories {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 100%;
        background-color: $light-grey;

        #stories-parent {
            width: 40%;
            margin-top: 10%;
            margin-bottom: 10%;

            h2 {
                margin-top: 10%;
            }

            button {
                width: 35%;
            }
        }
    }
}

//media query 1024 ---DESKTOP SMALL---
@media screen and (min-width: 64em) {
    #header-story1 {
        #logo-header {
            img {
                max-width: 10%;
            }
        }
        #hero-buttons {
            padding-top: 0%;

            button {
                padding: 0.5% 3%;
            }
        }
    }

}

//media query 1200px ---DESKTOP MEDIUM---
@media screen and (min-width: 75em) {
    #header-story1 {
        #hero-text {
            h1 {
                font-size: 5.5em;
            }
        }
    }

    #more-stories {
        #stories-parent {
            button {
                width: 25%;
            }
        }
    }
}