//--------------------->MOBILE <= 22.8185nm

//HEADER
#header-stories {
    background-image: url(../images/stories-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }

    #hero-text {
        h1 {
            font-family: $title;
            font-weight: 400;
            font-size: 2.5em;
            text-align: center;
            margin: 20% 10% 5% 10%;
            color: white;
        }
    }

    #hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10%;
        padding-top: 10%;

        button {
            color: $dark-grey;
            background-color: $blue;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
            a{
                text-decoration: none;
                color: $dark-grey;
            }
        }
    }
}

//Stories description
#stories-description {
    h1 {
        font-family: $title;
        font-size: 3em;
        color: $blue;
        text-align: center;
        margin: 5%;
    }

    p {
        font-family: $text;
        font-size: 1em;
        color: white;
        text-align: center;
        margin: 0 5%;
    }
}

//Stories flexbox
#stories-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 7% 0 7%;

    #story {
        img {
            max-width: 100%;
        }

        h1 {
            font-family: $title;
            color: $blue;
            margin: 3%;
            font-size: 2em;
            text-align: center;
        }

        p {
            font-family: $text;
            color: white;
            text-align: center;
            font-size: 1em;
            margin-left: 10%;
            margin-right: 10%;
        }

        button {
            color: $blue;
            background-color: transparent;
            padding: 1% 4%;
            margin: 5% 5% 15% 5%;
            font-family: $text;
            font-size: 1em;
            border: 2px solid $blue;
            border-radius: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            a{
                text-decoration: none;
                color: $blue;
            }
        }
    }
}

//----------------> QUERIES
//media query 667px ---MOBILE LANDSCAPE---
@media screen and (min-width: 41.6875em) {
    #header-stories {

        #logo-header {

            img {
                max-width: 15%;
            }
        }
    }

    #stories-flexbox {
        #story {
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

//media query 768px ---TABLET---
@media screen and (min-width: 48em) {
    #header-stories {

        #logo-header {

            img {
                max-width: 15%;
            }
        }

        #hero-text{

            h1 {

                font-size: 3.5em;
            }
        } 

        #hero-buttons {

            button {
                font-size: 1.2em;
            }
        }
    }

    #stories-description {

        p {
            margin-left: 20%;
            margin-right: 20%;
        }
    }

    #stories-flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        #story {
            width: 50%;

            img {
                max-width: 90%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

//media query 1024 ---DESKTOP SMALL---
@media screen and (min-width: 64em) {
    #header-stories {
        #logo-header {
            img {
                max-width: 10%;
            }
        }
        #hero-buttons {
            padding-top: 0%;

            button {
                padding: 0.5% 3%;
            }
        }
    }

}

//media query 1600px ---DESKTOP XLARGE---
@media screen and (min-width: 100em) {
    #header-stories {
        #hero-text {
            h1 {
                font-size: 4.5em;
            }
        }
    }

    #stories-flexbox {
        #story {
            p {
                margin-left: 20%;
                margin-right: 20%;
            }

            h1 {
                font-size: 3em;
            }

            button {
                padding: .5% 4%;
            }
        }
    }
}
