//--------------------->MOBILE <= 22.8185nm

//HEADER
#header-stories {
    background-image: url(../images/stories-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #logo-header {
        img {
            max-width: 25%;
            margin: 5% 0 0 5%;
        }
    }

    nav {
        display: none; //hamburger menu goes here (CHANGE!)
    }

    #hero-text {
        h1 {
            font-family: $title;
            font-weight: 400;
            font-size: 2.5em;
            text-align: center;
            margin: 20% 10% 5% 10%;
            color: white;
        }
    }

    #hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10%;
        padding-top: 10%;

        button {
            color: $dark-grey;
            background-color: $blue;
            padding: 1% 4%;
            margin: 5%;
            font-family: $text;
            font-size: 1em;
            border: transparent;
            border-radius: 50px;
        }
    }
}

//Stories description
#stories-description {
    h1 {
        font-family: $title;
        font-size: 3em;
        color: $blue;
        text-align: center;
        margin: 5%;
    }

    p {
        font-family: $text;
        font-size: 1em;
        color: white;
        text-align: center;
        margin: 0 5%;
    }
}

//Stories flexbox
#stories-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 7% 0 7%;

    #story {
        img {
            max-width: 100%;
        }

        h1 {
            font-family: $title;
            color: $blue;
            margin: 3%;
            font-size: 2em;
            text-align: center;
        }

        p {
            font-family: $text;
            color: white;
            text-align: center;
            font-size: 1em;
            margin-left: 10%;
            margin-right: 10%;
        }

        button {
            color: $dark-grey;
            background-color: white;
            padding: 1% 4%;
            margin: 5% 5% 15% 5%;
            font-family: $text;
            font-size: 1em;
            border: white thin;
            border-radius: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

