//COLOURS
$green: #00d888;
$pink: #ff4d8d;
$blue: #07c5f6;
$yellow: #f7c900;
$dark-grey: #1b1d1e;
$light-grey: #353839;

//FONTS
$title: alternate-gothic-no-1-d, sans-serif; 
//font-weight: 400;
$text: forma-djr-banner, sans-serif;
//font-weight: 400;


